<div class="card mb-4">

    <div class="card-header">
        {{ post.date_pub }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body|truncatewords:15 }}</p>

        <a href="{{ post.get_absolute_url }}" class="btn btn-light">Читать</a>
    </div>
     <div class="card-footer text-muted">
         <blockquote class="blockquote text-right">
             <p class="mb-0">Автор: {{ post.author }}</p>
         </blockquote>


  </div>
</div>