{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Неверное имя или пароль. Попробуйте еще раз</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У вас недостаточно прав для просмотра.</p>
    {% else %}
    <p>Пожалуйста авторизуйтесь для просмотра этой страницы</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>



{% endblock %}