{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<p>Мы являемся группой новичков и не только их, занимающихся программированием на Python.
В наши интересы входит множество аспектов программирования, начиная от веба и заканчивая машинным обучением.
    У нас можно задать вопросы, не встречая при этом брюзжания "матерых" участников чата, мы открыты для всех.</p>

<p>Контакты для связи:</p>
<p>@mellolian</p>
<a href="https://t.me/silentpythoncoder">Наша группа в Telegram</a>


{% endblock %}