{% extends 'blog/base_blog.html' %}

{% block title %}
    Удаление - {{ post.title|title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{{ post.get_delete_url }}" method="post">
        {% csrf_token %}

        <h3> Вы уверены, что хотите удалить сообщение <b> {{ post.title }} </b> ?</h3>
        <a href="{{ post.get_absolute_url }}">Отмена</a>
        <button type="submit" name="button" class="btn btn-danger">Удалить</button>

    </form>
{% endblock %}