{% extends 'blog/base_blog.html' %}

{% block title %}
     {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<h1 class="mt-5">
    {{ post.title }}
</h1>
<p>
    {% autoescape off %}
    {{ post.body|linebreaks }}
{% endautoescape %}
</p>
{% if user == post.author %}

<a href="{{ post.get_update_url }}">Редактировать</a>
<a href="{{ post.get_delete_url }}">Удалить</a>

{% endif %}
{% endblock %}