<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="text-right">Привет, {{ user.username }}!</h1>
<p class="text-right"><a href="{% url 'logout' %}">Выйти из учетной записи</a>

{% else %}
  <p>Вы не авторизованы</p>
  <a href="{% url 'login' %}">Авторизация</a>
{% endif %}
{% endblock %}